    .ai-header-v3 {
    background: url("../image/img-ai-header-2800x1087-v3.jpg"); background-image: url("../image/img-ai-header-2800x1087-v3.jpg") !important;
}
        .climate-change-fire {
    background: url("../image/img-ai-climate-change.gif"); background-image: url("../image/img-ai-climate-change.gif") !important;
}
        .climate-change-fire {
    background: url("../image/img-ai-climate-change.gif"); background-image: url("../image/img-ai-climate-change.gif") !important;
}
        .climate-change-fire {
    background: url("../image/img-ai-climate-change.gif"); background-image: url("../image/img-ai-climate-change.gif") !important;
}
                                            .ai-core-facilities-supercomputer {
    background: url("../image/img-ai-core-facilities-1174x628.jpg"); background-image: url("../image/img-ai-core-facilities-1174x628.jpg") !important;
}
        .so-hero-bg {
    background: url("../image/student-opportunities/img-hero-student-opportunities.jpg"); background-image: url("../image/student-opportunities/img-hero-student-opportunities.jpg") !important;
}
            .incubating-innovation {
    background: url("../image/img-research-resources.jpg"); background-image: url("../image/img-research-resources.jpg") !important;
}
        .so-research-ini {
    background: url("../image/student-opportunities/img-ahead-of-the-curve.jpg"); background-image: url("../image/student-opportunities/img-ahead-of-the-curve.jpg") !important;
}
        .climate-hero-b-bg {
    background: url("../image/img-hero-climate-change2.jpg"); background-image: url("../image/img-hero-climate-change2.jpg") !important;
}
            .tab-cli-action {
    background: url("../image/leading-with-informed-action-and-education/img-action.jpg"); background-image: url("../image/leading-with-informed-action-and-education/img-action.jpg") !important;
}
        .tab-cli-academics {
    background: url("../image/leading-with-informed-action-and-education/img-academics.jpg"); background-image: url("../image/leading-with-informed-action-and-education/img-academics.jpg") !important;
}
        .tab-cli-resources-b {
    background: url("../image/tab-climate-resources-b.jpg"); background-image: url("../image/tab-climate-resources-b.jpg") !important;
}
        .ri-hero-bg {
    background: url("../image/img-hero-research-initiatives.jpg"); background-image: url("../image/img-hero-research-initiatives.jpg") !important;
}
        .tab-ri-climate {
    background: url("../image/img-research-initiatives-climate.jpg"); background-image: url("../image/img-research-initiatives-climate.jpg") !important;
}
        .tab-ri-robotics {
    background: url("../image/img-research-initiatives-robotics.jpg"); background-image: url("../image/img-research-initiatives-robotics.jpg") !important;
}
        .tab-ri-microbiomes {
    background: url("../image/img-research-initiatives-microbiomes.jpg"); background-image: url("../image/img-research-initiatives-microbiomes.jpg") !important;
}
        .research-inovation-hero {
    background: url("../image/img-hero-we-innovate-with-purpose-032323.jpg"); background-image: url("../image/img-hero-we-innovate-with-purpose-032323.jpg") !important;
}
        .student-opportunities {
    background: url("../image/img-real-life-opportunities-032323.jpg"); background-image: url("../image/img-real-life-opportunities-032323.jpg") !important;
}
        .research-initiatives {
    background: url("../image/img-research-initiatives-032323.jpg"); background-image: url("../image/img-research-initiatives-032323.jpg") !important;
}
        .research-innovation-resources {
    background: url("../image/img-research-resources.jpg"); background-image: url("../image/img-research-resources.jpg") !important;
}
        .research-library {
    background: url("../image/img-the-library.jpg"); background-image: url("../image/img-the-library.jpg") !important;
}
        .admissions-hero {
    background: url("../image/img-hero-admissions-and-aid.jpg"); background-image: url("../image/img-hero-admissions-and-aid.jpg") !important;
}
            .fin-aid {
    background: url("../image/img-invest-in-your-future.jpg"); background-image: url("../image/img-invest-in-your-future.jpg") !important;
}
        .pople-are-the-point {
    background: url("../image/img-hero-people-are-the-point-2.jpg"); background-image: url("../image/img-hero-people-are-the-point-2.jpg") !important;
}
        .support-foundation {
    background: url("../image/img-foundation-of-success.jpg"); background-image: url("../image/img-foundation-of-success.jpg") !important;
}
        .ss-banner {
    background: url("../image/img-hero-student-support.jpg"); background-image: url("../image/img-hero-student-support.jpg") !important;
}
            .brc {
    background: url("../image/img-black-resource-center.jpg"); background-image: url("../image/img-black-resource-center.jpg") !important;
}
        .ccc {
    background: url("../image/img-cross-cultural-center.jpg"); background-image: url("../image/img-cross-cultural-center.jpg") !important;
}
        .irc {
    background: url("../image/img-intertribal-resource-center.jpg"); background-image: url("../image/img-intertribal-resource-center.jpg") !important;
}
        .lgbt {
    background: url("../image/img-lgbt-resource-center.jpg"); background-image: url("../image/img-lgbt-resource-center.jpg") !important;
}
        .raza {
    background: url("../image/img-raza-resource-center.jpg"); background-image: url("../image/img-raza-resource-center.jpg") !important;
}
        .womens-center {
    background: url("../image/img-womens-center.jpg"); background-image: url("../image/img-womens-center.jpg") !important;
}
        .jumbotron-culture {
    background: url("../img/bg_life_culture.jpg"); background-image: url("../img/bg_life_culture.jpg") !important;
}
            .ss-international-house {
    background: url("../image/img-international-house.jpg"); background-image: url("../image/img-international-house.jpg") !important;
}
        .health-wellness {
    background: url("../image/img-health-and-wellness.jpg"); background-image: url("../image/img-health-and-wellness.jpg") !important;
}
        .attend-cta {
    background: url("../image/img-attend-uc-san-diego.jpg"); background-image: url("../image/img-attend-uc-san-diego.jpg") !important;
}
        .campus-life-hero {
    background: url("../image/img-hero-student-life.jpg"); background-image: url("../image/img-hero-student-life.jpg") !important;
}
        .cl-recreation {
    background: url("../image/img-get-out-and-move.jpg"); background-image: url("../image/img-get-out-and-move.jpg") !important;
}
        .artpower {
    background: url("../image/img-artpower.jpg"); background-image: url("../image/img-artpower.jpg") !important;
}
        .stuart-ollection {
    background: url("../image/img-stuart-collection.jpg"); background-image: url("../image/img-stuart-collection.jpg") !important;
}
        .box-office {
    background: url("../image/img-uc-san-diego-box-office.jpg"); background-image: url("../image/img-uc-san-diego-box-office.jpg") !important;
}
        .the-loft {
    background: url("../image/img-the-loft.jpg"); background-image: url("../image/img-the-loft.jpg") !important;
}
        .lj-playhouse {
    background: url("../image/img-la-jolla-playhouse.jpg"); background-image: url("../image/img-la-jolla-playhouse.jpg") !important;
}
        .conrad-music {
    background: url("../image/img-conrad-prebys-music-center.jpg"); background-image: url("../image/img-conrad-prebys-music-center.jpg") !important;
}
            .hero-organizations {
    background: url("../image/organizations/img-hero-student-organizations.jpg"); background-image: url("../image/organizations/img-hero-student-organizations.jpg") !important;
}
        .student-life-get-involved {
    background: url("../image/organizations/img-get-involved.jpg"); background-image: url("../image/organizations/img-get-involved.jpg") !important;
}
        .student-gov {
    background: url("../image/organizations/bg-student-gov.jpg"); background-image: url("../image/organizations/bg-student-gov.jpg") !important;
}
        .student-media {
    background: url("../image/organizations/img-student-media.jpg"); background-image: url("../image/organizations/img-student-media.jpg") !important;
}
        .organizations-spirit {
    background: url("../image/organizations/img-triton-spirit.jpg"); background-image: url("../image/organizations/img-triton-spirit.jpg") !important;
}
        .diversity-hero {
    background: url("../image/diversity/img-header-student-diversity.jpg"); background-image: url("../image/diversity/img-header-student-diversity.jpg") !important;
}
        .brc {
    background: url("../image/img-black-resource-center.jpg"); background-image: url("../image/img-black-resource-center.jpg") !important;
}
        .ccc {
    background: url("../image/img-cross-cultural-center.jpg"); background-image: url("../image/img-cross-cultural-center.jpg") !important;
}
        .irc {
    background: url("../image/img-intertribal-resource-center.jpg"); background-image: url("../image/img-intertribal-resource-center.jpg") !important;
}
        .lgbt {
    background: url("../image/img-lgbt-resource-center.jpg"); background-image: url("../image/img-lgbt-resource-center.jpg") !important;
}
        .raza {
    background: url("../image/img-raza-resource-center.jpg"); background-image: url("../image/img-raza-resource-center.jpg") !important;
}
        .womens-center {
    background: url("../image/img-womens-center.jpg"); background-image: url("../image/img-womens-center.jpg") !important;
}
        .cultural-organizations {
    background: url("../image/diversity/img-cultural-organizations.jpg"); background-image: url("../image/diversity/img-cultural-organizations.jpg") !important;
}
            .spaces {
    background: url("../image/diversity/img-spaces.jpg"); background-image: url("../image/diversity/img-spaces.jpg") !important;
}
                .economic-impact {
    background: url("../image/img-hero-economic-impact-report2.jpg"); background-image: url("../image/img-hero-economic-impact-report2.jpg") !important;
}
        .additional-resources {
    background: url("../image/img-econ-impact.jpg"); background-image: url("../image/img-econ-impact.jpg") !important;
}
                    .about-hero {
    background: url("../image/img-hero-about-uc-san-diego.jpg"); background-image: url("../image/img-hero-about-uc-san-diego.jpg") !important;
}
        .about-mission {
    background: url("../image/img-our-mission.jpg"); background-image: url("../image/img-our-mission.jpg") !important;
}
        .about-mission {
    background: url("../image/img-our-mission.jpg"); background-image: url("../image/img-our-mission.jpg") !important;
}
        .about-creating-healthier {
    background: url("../image/img-creating-a-healthier-world.png"); background-image: url("../image/img-creating-a-healthier-world.png") !important;
}
        .public-art {
    background: url("../image/img-reimagining-public-art.jpg"); background-image: url("../image/img-reimagining-public-art.jpg") !important;
}
                .visit-tours-hero-2 {
    background: url("../image/img-hero-visiting-tours3.jpg"); background-image: url("../image/img-hero-visiting-tours3.jpg") !important;
}
        .tours-students {
    background: url("../image/img-visiting-tours-tours-1.jpg"); background-image: url("../image/img-visiting-tours-tours-1.jpg") !important;
}
        .cl-getting-to-campus {
    background: url("../image/img-visiting-tours-getting-to-campus.jpg"); background-image: url("../image/img-visiting-tours-getting-to-campus.jpg") !important;
}
        .getting-around-campus {
    background: url("../image/img-visiting-tours-getting-around-campus.jpg"); background-image: url("../image/img-visiting-tours-getting-around-campus.jpg") !important;
}
            .organizations-involvement {
    background: url("../image/img-visiting-tours-athletics.jpg"); background-image: url("../image/img-visiting-tours-athletics.jpg") !important;
}
        .arts-uc-san-diego {
    background: url("../image/img-visiting-tours-arts.jpg"); background-image: url("../image/img-visiting-tours-arts.jpg") !important;
}
        .library {
    background: url("../image/img-visiting-tours-library.jpg"); background-image: url("../image/img-visiting-tours-library.jpg") !important;
}
                                                                                                .online-extension-hero {
    background: url("../image/online-extension/hero.jpg"); background-image: url("../image/online-extension/hero.jpg") !important;
}
        .public-programs {
    background: url("../image/online-extension/public-programs.jpg"); background-image: url("../image/online-extension/public-programs.jpg") !important;
}
        .callout-content-3-enroll {
    background: url("../image/online-extension/enroll.jpg"); background-image: url("../image/online-extension/enroll.jpg") !important;
}
        .text-cta-image-online-learning {
    background: url("../image/online-extension/online-learning.jpg"); background-image: url("../image/online-extension/online-learning.jpg") !important;
}
        .student-success-hero {
    background: url("../image/student-success-hero.jpg"); background-image: url("../image/student-success-hero.jpg") !important;
}
        .attend-cta {
    background: url("../image/advising.jpg"); background-image: url("../image/advising.jpg") !important;
}
        .teaching-learning {
    background: url("../image/teaching-learning.jpg"); background-image: url("../image/teaching-learning.jpg") !important;
}
        .health-wellbeing {
    background: url("../image/health-wellbeing.jpg"); background-image: url("../image/health-wellbeing.jpg") !important;
}
                .teaching-learning {
    background: url("../image/teaching-learning.jpg"); background-image: url("../image/teaching-learning.jpg") !important;
}
                .health-wellbeing {
    background: url("../image/health-wellbeing.jpg"); background-image: url("../image/health-wellbeing.jpg") !important;
}
            .as-hero {
    background: url("../image/img-hero-academic-success.jpg"); background-image: url("../image/img-hero-academic-success.jpg") !important;
}
        .academic-support {
    background: url("../image/img-academic-support.jpg"); background-image: url("../image/img-academic-support.jpg") !important;
}
            .summer-success {
    background: url("../image/img-summer-success.jpg"); background-image: url("../image/img-summer-success.jpg") !important;
}
            .global-opportunities {
    background: url("../image/img-global-opportunities.jpg"); background-image: url("../image/img-global-opportunities.jpg") !important;
}
        .as-changemakers {
    background: url("../image/img-our-culture.jpg"); background-image: url("../image/img-our-culture.jpg") !important;
}
        .engaged-learning-tools {
    background: url("../image/img-engaged-learning-tools.jpg"); background-image: url("../image/img-engaged-learning-tools.jpg") !important;
}
        .ss-wellness {
    background: url("../image/img-health-and-wellness.jpg"); background-image: url("../image/img-health-and-wellness.jpg") !important;
}
        .academics-test {
    background: url("../image/academics/img-hero-academics.jpg"); background-image: url("../image/academics/img-hero-academics.jpg") !important;
}
        .summer-session {
    background: url("../image/academics/img-plan-now-for-summer.jpg"); background-image: url("../image/academics/img-plan-now-for-summer.jpg") !important;
}
        .academics-detail-hero {
    background: url("../image/img-hero-undergraduate-degree-programs.jpg"); background-image: url("../image/img-hero-undergraduate-degree-programs.jpg") !important;
}
        .academics-detail-hero {
    background: url("../image/img-hero-undergraduate-degree-programs.jpg"); background-image: url("../image/img-hero-undergraduate-degree-programs.jpg") !important;
}
        .academics-detail-hero {
    background: url("../image/img-hero-undergraduate-degree-programs.jpg"); background-image: url("../image/img-hero-undergraduate-degree-programs.jpg") !important;
}
            .research-innovation {
    background: url("../image/img-research-and-innovation.jpg"); background-image: url("../image/img-research-and-innovation.jpg") !important;
}
        .attend-cta {
    background: url("../image/img-financial-aid-scholorships.jpg"); background-image: url("../image/img-financial-aid-scholorships.jpg") !important;
}
        .student-life-alt {
    background: url("../image/img-our-thriving-student-life.jpg"); background-image: url("../image/img-our-thriving-student-life.jpg") !important;
}
    